<div class="flex items-center justify-between h-full w-full">
  <!-- Logo -->
  <div class="flex items-center gap-2 flex-shrink-0">
    <img src="assets/logo.png" alt="Logo" class="h-30 w-auto object-contain" />
  </div>

  <!-- Slogan -->
  <div class="absolute left-1/2 transform -translate-x-1/2">
    <h1 class="italic text-xl font-semibold text-black leading-tight">
      El poder de ver con claridad
    </h1>
  </div>

 <div class="absolute top-8 right-8 flex items-center gap-2  text-white cursor-pointer" >
     <p-avatar 
      icon="pi pi-user" 
      shape="circle" 
      size="large" 
       />
  </div>
</div>
