<div class="flex items-center justify-between h-full w-full">
  <!-- Logo -->
  <div class="flex items-center gap-2 flex-shrink-0">
    <img src="assets/logo.png" alt="Logo" class="h-35 w-auto object-contain" />
  </div>

  <!-- Slogan -->
  <div class="absolute left-1/2 transform -translate-x-1/2">
    <h1 class="italic text-xl font-semibold text-black leading-tight">
      El poder de ver con claridad
    </h1>
  </div>

<p-toast />

<p-confirmDialog />

<!-- Navbar / Avatar + Popover -->
<div class="absolute top-8 right-8 flex items-center gap-2 cursor-pointer">
  <p-avatar 
    icon="pi pi-user" 
    shape="circle" 
    size="large" 
    (click)="userMenu.toggle($event)" 
  ></p-avatar>

  <p-popover 
    #userMenu 
    showTransitionOptions="0.2s" 
    hideTransitionOptions="0.1s" 
    styleClass="user-popover"
  >
    <div class="flex flex-col gap-3 w-48 p-2">
      <p-button 
        icon="pi pi-sign-in" 
        label="Iniciar Sesión" 
        (click)="goToLogin()"
        severity="secondary"
        styleClass="w-full flex justify-center items-center text-center !px-0"
      ></p-button>

      
      <p-button 
        icon="pi pi-sign-out" 
        label="Cerrar Sesión" 
        (click)="logout()"
        severity="danger"
        styleClass="w-full flex justify-center items-center text-center !px-0"
      ></p-button>
    </div>
  </p-popover>

</div>

