<div class="card p-6">
 

  <div class="flex justify-end mb-4">
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Agregar Detalle"
      class="p-button p-component bg-green-500 hover:bg-green-600 text-white text-base px-5 py-2 rounded"
      [routerLink]="['/order-details/new']"
    ></button>
  </div>


  <p-table
    [value]="orderDetails"
    [tableStyle]="{ 'min-width': '70rem' }"
    stripedRows
    showGridlines
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Orden</th>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Graduación</th>
        <th>Subtotal</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-detail>
      <tr>
        <td>{{ detail.id }}</td>
        <td>{{ detail.orderId }}</td>
        <td>
          <img
            [src]="getProductImage(detail.productType, detail.productId)"
            alt="Producto"
            class="w-24 h-auto"
          />
        </td>
        <td>{{ getProductName(detail.productType, detail.productId) }}</td>
        <td>{{ detail.productType }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.unitPrice | number:'1.0-0' }}</td>
        <td>{{ detail.graduation || '-' }}</td>
        <td>{{ detail.subtotal | number:'1.0-0' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>