<div class="card p-4">
  <div class="flex justify-end mb-4">
    <p-button
      type="button"
      icon="pi pi-plus"
      label="Nuevo Lente"
      [routerLink]="['/lenses/new']"
    ></p-button>
  </div>

  <p-table 
    [value]="lenses" 
    [tableStyle]="{ 'min-width': '70rem' }" 
    showGridlines
    stripedRows
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Material</th>
        <th>Tratamiento</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Proveedor</th>
        <th>Imagen</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-lens>
      <tr>
        <td>{{ lens.id }}</td>
        <td>{{ lens.type }}</td>
        <td>{{ lens.material }}</td>
        <td>{{ lens.treatment || 'N/A' }}</td>
        <td>{{ lens.price | number:'1.0-0' }}</td>
        <td>
          <p-tag
            [value]="lens.stock + ' disponibles'"
            severity="success"
            class="text-xs"
          ></p-tag>
        </td>
        <td>{{ lens.supplier_id }}</td>
        <td>
          <p-image
            [src]="lens.image" 
            alt="{{ lens.type }}" 
            width="50"
            height="35"
            [preview]="true"> 
          </p-image>
        </td>
        <!-- ✅ Botones de acción -->
        <td class="text-center">
          <div class="flex justify-center gap-2">
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-warning"
              [routerLink]="['/lenses/edit', lens.id]"
              pTooltip="Editar">
            </button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="deleteLens(lens)"
              pTooltip="Eliminar">
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>



