<form [formGroup]="form" (ngSubmit)="submit()" class="w-full p-6 bg-white rounded shadow">
  <h2 class="text-xl font-bold mb-6">Registrar Orden</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


    <div>
      <label class="block mb-1 font-semibold">Paciente</label>
      <select formControlName="patient_id" class="w-full p-inputtext rounded border border-gray-300">
        <option value="">Seleccione un paciente</option>
        <option *ngFor="let patient of patients" [value]="patient.id">
          {{ patient.name }}
        </option>
      </select>
    </div>

 
    <div>
      <label class="block mb-1 font-semibold">Optometra</label>
      <select formControlName="optometrist_id" class="w-full p-inputtext rounded border border-gray-300">
        <option value="">Seleccione un optometra</option>
        <option *ngFor="let opto of optometrists" [value]="opto.id">
          {{ opto.name }}
        </option>
      </select>
    </div>

    <!-- Fecha -->
    <div>
      <label class="block mb-1 font-semibold">Fecha</label>
      <input 
        type="date" 
        formControlName="date" 
        class="w-full p-inputtext rounded border border-gray-300" 
      />
    </div>

    <!-- Total -->
    <div>
      <label class="block mb-1 font-semibold">Total</label>
      <input 
        type="number" 
        formControlName="total" 
        class="w-full p-inputtext rounded border border-gray-300" 
        placeholder="Ej: 250000" 
      />
    </div>

    <!-- Estado -->
    <div>
      <label class="block mb-1 font-semibold">Estado</label>
      <select formControlName="status" class="w-full p-inputtext rounded border border-gray-300">
        <option value="ACTIVE">Activo</option>
        <option value="INACTIVE">Inactivo</option>
        
      </select>
    </div>
  </div>

  <!-- Botones -->
  <div class="flex justify-center mt-6">
    <div class="bg-gray-100 rounded p-4 flex gap-4 items-center">
      <button
        pButton
        type="submit"
        class="p-button p-component bg-green-600 hover:bg-green-700 text-white"
        label="Guardar"
        icon="pi pi-save"
        [disabled]="form.invalid"
      ></button>

      <button
      pButton
      type="button"
      class="!bg-gray-400 !border-gray-400 hover:!bg-gray-500 hover:!border-gray-500 text-white"
      label="Cancelar"
      icon="pi pi-times"
      (click)="cancelar()"
    ></button>
    </div>
  </div>
</form>
