<div class="card p-8">
  <div class="flex justify-end mb-4">
    <button
      pButton
      type="button"
      class="p-button p-component bg-primary text-white"
      icon="pi pi-plus"
      label="Nueva Orden"
      [routerLink]="['/orders/new']"
    >
    </button>
  </div>

  <p-table [value]="orders" stripedRows [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Paciente ID</th>
        <th>Optometrista ID</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Estado</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.patientId }}</td>
        <td>{{ order.optometristId }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
