<div class="card p-8">

   <div class="flex flex-wrap gap-4 justify-end mb-4">
    <button
      pButton
      type="button"
      class="p-button p-component bg-blue-500 hover:bg-blue-600 text-white"
      icon="pi pi-plus"
      label="Nueva Historia Visual"
      [routerLink]="['/visual-histories/new']"
    >
    </button>
  </div>

 
  <p-table
    [value]="visualHistories"
    [loading]="loading"
    showGridlines
    stripedRows
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
  >
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Paciente</th>
        <th>Observaciones</th>
        <th>Fecha de creación</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template #body let-history>
      <tr>
        <td>{{ history.id }}</td>
        <td>{{ history.patient_id}}</td>
        <td>{{ history.observations }}</td>
        <td>{{ history.date | date:'dd/MM/yyyy' }}</td>
        <!-- ✅ Botones de acción -->
        <td class="text-center">
          <div class="flex justify-center gap-2">
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-warning"
              [routerLink]="['/visual-histories/edit', history.id]"
              pTooltip="Editar">
            </button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="deleteVisualHistory(history)"
              pTooltip="Eliminar">
            </button>
          </div>
        </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>