<div class="card p-8">
  <div class="flex justify-end mb-4">
    <button
      pButton
      type="button"
      class="p-button p-component bg-primary text-white"
      icon="pi pi-plus"
      label="Nuevo Optometra"
      [routerLink]="['/optometrists/new']"
    >
    </button>
  </div>

  <p-table
    [value]="optometrists"
    showGridlines
    stripedRows
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
  >
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Especialidad</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-optometrist>
      <tr>
        <td>{{ optometrist.id }}</td>
        <td>{{ optometrist.name }}</td>
        <td>{{ optometrist.specialty }}</td>
        <td>{{ optometrist.phone }}</td>
        <td>{{ optometrist.email }}</td>

        <!-- ✅ Botones de acción -->
        <td class="text-center">
          <div class="flex justify-center gap-2">
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-warning"
              [routerLink]="['/optometrists/edit', optometrist.id]"
              pTooltip="Editar">
            </button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="deleteOptometrist(optometrist)"
              pTooltip="Eliminar">
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
